<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiskPredict | AI Health Diagnostic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="padding: 0; background-color: white;">

    <nav class="navbar">
        <a href="/" class="nav-logo">Disease Risk Prediction</a>
        <div class="nav-links">
            <a href="/login" class="btn-outline">Login</a>
            <a href="/register" class="btn-filled">Register</a>
        </div>
    </nav>

    <section class="hero">
        <h1>Advanced Disease Risk Prediction</h1>
        <p>Using state-of-the-art Machine Learning to provide instant clinical insights and personalized health risk assessments.</p>
        
       
    </section>

   

</body>
</html>